sudo: false
language: perl
perl:
  - "5.18"
  - "5.16"
  - "5.14"
  - "5.12"
  - "5.10"
before_install:
  - "dzil authordeps | xargs cpanm"
  - "cpanm -n Devel::Cover::Report::Coveralls"
  - "cpanm Dist::Zilla::App::Command::cover"
install: "dzil listdeps | xargs cpanm"
script: 
  - "PERL5OPT=-MDevel::Cover=-coverage,statement,branch,condition,path,subroutine prove -lrsv t"
  - "cover"
  - "dzil test"
after_success:
  - "cover -report coveralls"
