sudo: false
language: perl
perl:
  - "blead"
  - "5.26"
  - "5.24"
  - "5.22"
  - "5.20"
  - "5.18"
  - "5.16"
  - "5.14"
  - "5.12"
  - "5.10"
  
matrix:
  allow_failures:
    - perl: blead
  include:
    - perl: "5.26"
      env: COVERAGE=1

before_install:
  - git clone git://github.com/travis-perl/helpers ~/travis-perl-helpers
  - source ~/travis-perl-helpers/init --always-upgrade-modules
  - build-perl
  - perl -V
  - build-dist
  - cd $BUILD_DIR
  
install:
  - cpan-install --deps --coverage
  - dzil authordeps --missing | cpanm
  
script: 
  - "PERL5OPT=-MDevel::Cover=-coverage,statement,branch,condition,path,subroutine prove -lrsv t"
  - "cover"
  - "dzil test"

after_success:
  - coverage-report
